<!-- custom datasets-dataset-form.ejs -->
<form role="form" action="" method="POST" class="form-horizontal form-bordered" id="validateForm">
    <input type="hidden" id="id" name="<%= idField %>" value="<%= object[idField] %>" />
    <div class="form-body">
      <% attributes.forEach(function(attr) { %>
        <% if(typeof attr.type != 'undefined') { %>
            <% attr.value = object[attr.name] %>
            <%- render("web-form-input-"+attr.type, attr) %>
        <% } %>
      <% }) %>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button class="btn btn-theme" type="submit">Save</button>        
        </div>
    </div>

    <div class="form-body">
      <%
      if (object.fields) {
      %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-1 col-md-11">
            <h3>Fields</h3>
          </div>
        </div>
        <% 
        var k = 0;
        object.fields.forEach( (field) => { 
        %>
        <div class="row">
          <div class="col-sm-offset-1 col-md-7">
            <div class="row">
              <div class="col-md-7">
                <b>Field Name:</b>&nbsp;<%- field.name %>
                <b>id:</b>&nbsp;<%- field.id %>
              </div>
            </div>

        <%
          _.each(field, (value, key) => {
            if ( 'id' != key && 'name' != key ) {
        %>
            <div class="row">
              <div class="col-md-3">
                  <label for="object.field[<%- k %>].<%- key %>" class="col-form-label  to-left"><%- key %></label>
              </div>
              <div class="col-md-5">

        <%        if ('isPrimaryKey' == key) {
                    var rchecked = ( value ? "checked='checked'" : "" )
        %>
                    <input type="radio" class="form-check-input" name="field.isPrimaryKey" id="object.field[<%- k %>].<%- key %>" value="<%- field.id %>" <%= rchecked %> />
        <%        } else if ('isVisible' == key) {
                    var bchecked = ( value ? "checked='checked'" : "" )
        %>
                    <input type="checkbox" class="form-check-input" name="field.<%- key %>.<%- field.id %>" id="object.field[<%- k %>].<%- key %>" value="true" <%= bchecked %> />
        <%        } else if ('type' == key) {
        %>
                    <select name="field.<%- key %>.<%- field.id %>" class="form-control" onchange="checkForType(this, '<%- field.id %>', '<%- value %>')" id="selectType#<%- field.id %>">
        <%            fieldTypes.forEach( (fieldType) => {
        %>
                      <option value="<%- fieldType %>" <%= (fieldType == value ? "selected" : "") %>><%= fieldType %></option>
        <%            })
        %>
                    </select>
        <%        } else if ('annotates' == key) {
        %>
                    <select name="field.<%- key %>.<%- field.id %>" class="form-control"  id="selectAnnotates#%- field.id %>">
        <%            object.fields.forEach( (innerField) => { 
        %>
                      <option value="<%- innerField.id %>" <%= (innerField.id == value ? "selected" : "") %>><%= innerField.name %></option>
        <%            })
        %>

                    </select>

        <%         } else {
        %>
                    <input type="text" class="form-control" name="field.<%- key %>.<%- field.id %>" id="object.field[<%- k %>].<%- key %>" value="<%- value %>" />
        <%        }
        %>
              </div>
              
            </div>
          <% 
            }
          }) 
          k++; 
          %>

         </div>
          <div class="col-md-4">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Sample Data for <%- field.name %></th>
                    </tr>
                  </thead>
                  <tbody>
            <%  var sampleRows = _.first(_.pluck(datarows, field.name),5)
                var j = 0
                sampleRows.forEach( (sample) => {
                  j++
            %>    
                        <tr>
                          <th scope="row"><%= j %></th>
                          <td><%- sample %></td>
                        </tr>
    

            <%   })
            %>
                  </tbody>
                </table>
            </div>
          </div>
        <% }) %>        


        <div class="col-sm-offset-3 col-sm-7">
            <button class="btn btn-theme" type="submit">Save</button>        
        </div>
      </div>
      <% } //if fields %>
    </div>

</form>